= simple_form_for @page do |f|
  = f.input :title, label_html: { class: 'col-md-2' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }
  = f.input :slug, label_html: { class: 'col-md-2' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }
  = f.input :description, label_html: { class: 'col-md-2' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }
  = f.input :body, label_html: { class: 'col-md-2' }, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }
  = f.submit 'Save', class: 'btn btn-default'
