/ Page Header
/ Set your background image for this header on the line below.
-#%header.intro-header{:style => "background-image: url('img/post-bg.jpg')"}
%header.intro-header{:style => "background:#333"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .post-heading
          %h1= @node.title
          %h2.subheading= @node.description
          - if @node.type == 'Theblog::Post'
            %span.meta
              Posted by
              = @node.author.try(:user_name) || "anonymous"
              on
              = @node.created_at.strftime('%d.%m.%Y')
/ Post Content
%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %p= raw(@node.body)

        - if @node.is_a? Theblog::Category
          %h2.section-heading Posts:
          %ul.posts
            - @posts.each do |child|
              %li= link_to_content_node(child)
          = paginate @posts
