!!!
%html
  %head
    %title WebLog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main
      #header
        %strong.title WebLog Admin
      #center
        .sidebar
          - if signed_in?
            Signed as
            = current_user.user_name
            = button_to "Sign Out", destroy_user_session_path, method: :delete
          %ul
            - [:pages, :posts, :categories, :content_statuses].each do |item|
              %li= link_to item.to_s.humanize, send("admin_#{item}_path")
        .content
          %p.notice= notice
          %p.alert= alert
          = yield
