!!!
%html
  %head
    %title WebLog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main
      #header
        %strong.title WebLog
      #center
        .sidebar
          - if signed_in?
            = link_to "Admin", admin_root_path
            Signed as
            = current_user.user_name
            = button_to "Sign Out", destroy_user_session_path, method: :delete
          - if menu.present?
            %ul
              - menu.each do |page|
                %li= link_to_content_node page
        .content
          %p.notice= notice
          %p.alert= alert
          = yield
