%header.intro-header{:style => "background:#333"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1= @node.try(:title) || 'WebLog'
          %hr.small/
          %span.subheading= @node.try(:description) || 'Yet another default web log for most purposes'
/ Main Content
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      -if @node.present?
        %p= raw(@node.body)

      - @posts.each do |post|
        .post-preview
          = link_to_content_node(post) do
            %h2.post-title= post.title
            %h3.post-subtitle= post.description

          %p.post-meta
            Posted by
            = post.author.try(:user_name) || "anonymous"
            on
            = post.created_at.strftime('%d.%m.%Y')
      %hr/
      / Pager
      %ul.pager
        %li.next
          %a{:href => "#"} Older Posts →
